<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <title>クイズ</title>
  </head>
  <body id="index">
    <h1 class="main">クイズアプリ</h1>
    <a class="first" href="{{url_for('form')}}">クイズに答える</a>
    <a class="second" href="{{url_for('login_form')}}">管理者ログイン</a>
  </body>
</html>
